    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Momentum the Game" />
    <title>Momentum the Game{% if page.title %} - {{ page.title }}{% endif %}</title>
    <script type="text/javascript" src="/scripts/jQuery.{% if page.jQueryVersion != null %}{{ page.jQueryVersion }}{% else %}190{% endif %}.min.js"></script>
    {% for he in page.headElements %}{{ he }}
    {% endfor %}
    {% for js in page.javascripts %}<script type="text/javascript" src="/scripts/{{ js }}.js"></script>
    {% endfor %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("ul#menu li").click(function() {
                if ($(this).attr('href') !== undefined) {
                    var a = { href: $(this).attr('href'), target: $(this).attr('target') ? $(this).attr('target') : ''},b = window;
                    if (a.target === '_blank') b.open(a.href);
                    else b.location = a.href;
                }
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css" />
    {% for css in page.stylesheets %}<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/{{ css }}.css" />
    {% endfor %}