div#logo {
    position: fixed;
    bottom: 0;
    right: 0;
    background: url('/images/logo.png');
    display: block;
    width: 250px;
    height: 88px;
}
div#gallery {
    position: relative;
}
div#gallery a {
    float: left;
    margin: 5px;
    border: thin solid #666666;
    position: absolute;
    opacity: 0.7;
}
div#gallery a:hover {
    opacity: 1;
}
div#gallery img {
    max-width: none;
    width: 300px;
}
div#footer {
    padding: 10px;
    text-align: center;
}
span.blog_date {
    color: #999999;
    font-size: small;
}
p {
    margin-bottom: 10px;
}
a,a:visited {
    color:#00E;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.readmore {
    font-size: 12px;
}
.normal-lines {
    line-height: normal;
}
.hero-unit {
    border: thin solid #999;
}